@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; /* 16px */

  /* fundo em gradient via vars */
  background: linear-gradient(
    180deg,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  background-repeat: no-repeat; /* não repete */
  background-attachment: fixed; /* fixa ao viewport */
  background-size: cover; /* cobre 100% largura × 100% altura */
  color: var(--text-primary);
}
