.notificationsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.menuLink {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 1.2rem 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-notification);
}

.item p {
  font-size: 1.3rem;
}

.item span {
  font-size: 1.2rem;
  color: var(--text-secondary);
}
