.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  color: var(--text-primary);
  font-size: 1.6rem;
}
.select {
  appearance: none;
  background: none;
  color: var(--text-secondary);
  border: none;

  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: right;
}
