.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 3rem 0;
}

.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  background: var(--bg-active);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  margin: 2rem 3.5rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group h4 {
  font-size: 1.4rem;
}
