.noteCardContainer {
  padding: 2rem;
  background-color: var(--bg-selected-day);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: lighter;
}

.description {
  font-size: 1.4rem;
}

.date {
  font-size: 1rem;
}

.noteCardInternalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pinButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

.hiddenPin {
  visibility: hidden;
}
